.titleDesc {
  font: 1.5rem sans-serif;
  padding: 1rem 0rem;
}
.mainTitle {
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-left: 0px;
  border: 1px solid #d3d3d3;
}

h1 {
  text-align: center;
}
.title {
  padding-top: 0.5rem;
  text-align: center;
  font-family: Bodoni MT;
  font-size: 2rem;
}

.planet_img_large {
  width: 20rem;
  height: 20rem;
  float: left;
  margin: 0 2rem 3rem 1rem;
}

.textDescription {
  width: 35rem;
  margin: 0 1rem;
}
.container_desc {
  border: 1px solid #d3d3d3;
  border-width: 0px 1px;
}
.textDescription2 {
  width: 55rem;
  margin: 0 1rem;
}

.img_container {
  position: relative;

  height: 3rem;
}

body {
  display: flex;
  /* 
  width: 70rem;
  padding: 2rem; */
  font-family: Helvetica;
  margin: 0;
}

.container_selPlanets {
  margin-top: 5.1rem;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  border: 1px solid #d3d3d3;
  border-width: 0px 1px;

  background-color: #fafafa;
  padding: 0.3rem;
  /* pointer-events: none; */
}

.description {
  margin-top: 0%;
  align-content: center;
  /* padding-top: 1rem; */
}
.propiertyPlanet {
  margin-top: 1.2rem;
  padding: 0.5rem;
  border-top: 1px solid #d3d3d3;
}

p {
  margin: 0.3rem;
}

/************ PLANETS ************/
.planet_img {
  position: absolute;
  top: 12.5%;
  left: 18.1%;
  height: 3.5rem;
  transition: all 0.2s ease-in-out;
}

.planet {
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0rem 0rem 0.3rem rgb(173, 173, 173); */
  width: 5.5rem;
  border-radius: 0.5rem;
  margin: 0.3rem 0.3rem;

  /* overflow: visible; */
  border: 1px solid #d3d3d3;
}
.planet > * {
  pointer-events: none;
}

.planet:not(.planetClicked):hover {
  border: 1px solid transparent;
  outline: 3px solid #d3d3d3;
}
.planetClicked {
  /* pointer-events: none; */
  outline: 3px solid #95acc7;

  pointer-events: none;
}

.titlePlanet {
  margin: 0.2rem;
}
.cell-1 {
  background-color: #fff;
  padding: 0.3rem;
  border: 1px solid #d3d3d3;
  margin: 0 -1px -1px 0;
}
.cell-2 {
  background: #fff;
  padding: 0.3rem;
  color: #253f5a;
  border: 1px solid #d3d3d3;
  margin: 0 -1px -1px 0;
}

body {
  background-color: #fafafa;
  overflow-x: hidden; /* Hide scrollbars */
  /* margin: 0; */
}
.grid-desc {
  width: 90vh;
  display: grid;

  grid-template-columns: repeat(6, 1fr);

  margin: 2rem 1rem 3rem 1rem;
}
.title-desc {
  font: 1.2rem sans-serif;
  margin: 0 1.1rem;
}
.main {
  margin: auto;

  font-size: 0.85rem;
}

@media only screen and (max-width: 900px) {
  .grid-desc {
    width: 30vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr;
    margin-top: 1rem;
  }
  .container {
    margin-left: auto;
    width: 100%;
  }
  .container_desc {
    padding: 1rem;
    width: 100%;
  }
  .textDescription2 {
    width: auto;
    padding-right: 2rem;
  }
  .planet {
    margin: 0.2rem 0.2rem;
    padding: 0rem 0rem;
    width: 4.5rem;
  }
  .planet_img {
    left: 12.5%;
  }
  .titlePlanet {
    margin: 0;
    text-align: center;
  }
  .propiertyPlanet {
    padding: 0.5rem 0;
  }
  .factsPlanet {
    display: none;
  }
  .planet_img_large {
    padding-left: 15%;
    float: none;
    margin: 0;
  }
  .main {
    width: 100%;
  }
  html {
    font-size: 0.8rem;
  }
}
