.planet_img {
  position: absolute;
  top: 12.5%;
  left: 25%;
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
}

.mainTitle {
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-left: 0;
}
h1 {
  text-align: center;
}
.title {
  padding-top: 0.5 rem;
  text-align: center;
  font-family: Bodoni MT;
  font-size: 2rem;
}

.planet_img_large {
  width: 20rem;
  height: 20rem;
  margin-right: 2rem;
}
.textDescription {
  width: 35rem;
}
.img_container {
  position: relative;
  width: 3rem;
  height: 3rem;
}

body {
  display: flex;
  /* 
  width: 70rem;
  padding: 2rem; */
  font-family: Helvetica;
}

.container_selPlanets {
  margin-top: 5rem;
}

.container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 0.1rem;
  border: 1px solid #d3d3d3;
  background-color: #fafafa;
  padding: 0.3rem;
  /* pointer-events: none; */
}
.description {
  margin-top: 0%;
  align-content: center;
  /* padding-top: 1rem; */
}
.propiertyPlanet {
  padding: 0.5rem;
}

p {
  margin: 0.1rem;
}

@media screen and (max-width: 1000px) {
  .factsPlanet {
    display: none;
  }
  body {
    width: 100vw;
  }
  html {
    font-size: 0.65rem;
  }
}
.planet {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  width: 5rem;
  border-radius: 0.5rem;
  margin: 0.3rem 0.3rem;
  padding: 0.5rem 0.5rem;
  /* overflow: visible; */
  border: 3px solid transparent;
}

.planet > * {
  pointer-events: none;
}

.planet:not(.planetClicked):hover {
  border: 3px solid #d3d3d3;
}
.planetClicked {
  /* pointer-events: none; */
  border: 3px solid #95acc7;
  pointer-events: none;
}

body {
  background-color: #fafafa;
  margin: 0;
}

.main {
  margin: auto;
  font-size: 0.85rem;
}
